<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/factory/scheduleService.factory.js"></script>
    <script src="../app/controller/main.controller.js"></script>
    <script src="../app/edit_schedule/editSchedule.controller.js"></script>
    <script src="../app/edit_schedule/components/editSchedule.component.js"></script>
    <!--<script-->
            <!--src="https://code.jquery.com/jquery-3.3.1.slim.js"-->
            <!--integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="-->
            <!--crossorigin="anonymous"></script>-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <style>
        .timetable-day-off {
            background-color: #ff00004d;
            font-weight: bold;
        }
    </style>
</head>

<body ng-app="rootApp">
    <div class="container" ng-controller="EditScheduleController">
        <edit-schedule></edit-schedule>
    </div>
</body>
</html>