<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/factory/scheduleService.factory.js"></script>
    <script src="../app/controller/main.controller.js"></script>
    <script src="../app/controller/editSchedule.controller.js"></script>
    <!--<script-->
            <!--src="https://code.jquery.com/jquery-3.3.1.slim.js"-->
            <!--integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="-->
            <!--crossorigin="anonymous"></script>-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <style>
        .timetable-day-off {
            background-color: #ff00004d;
            font-weight: bold;
        }
    </style>
</head>

<body ng-app="rootApp">
    <div class="container">
        <h1>Schedule</h1>
        <div ng-controller="MainController">
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr ng-repeat="days in schedule">
                        <td ng-repeat="day in days.timetable">
                            <b>{[ day.day ]}</b> <br>
                            {[ day.date ]}
                        </td>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr ng-repeat="info in schedule">
                        <td ng-class="{'timetable-day-off': day.dayOff}"  ng-repeat="day in info.timetable">
                            <div ng-if="$index == 0">
                                {[ info.name ]}
                            </div>

                            <div ng-if="$index > 0">
                                <div ng-show="day.dayOff">
                                    OFF
                                </div>

                                <div ng-show="!day.dayOff">
                                    {[ day.startTime[0] ]} — {[ day.endTime[0] ]} <br>
                                    <div ng-show="day.splitShift">
                                        {[ day.startTime[1] ]} — {[ day.endTime[1] ]}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-controller="EditScheduleController">
            <h1>Form</h1>
            <h4>Currently editing: Akira Fukushima</h4>

            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <td ng-repeat="day in editSchedule.timetable">
                        <b>{[day.day]}</b> <br> {[day.date]}
                    </td>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr>
                    <td ng-repeat="day in editSchedule.timetable">
                        <div ng-show="false">
                            <div class="row">
                                <div class="col-md-6">Start</div>
                                <div class="col-md-6">End</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input ng-model="day[$index].startTime[0]" class="form-control">
                                </div>

                                <div class="col-md-6">
                                    <input ng-model="day[$index].endTime[0]" class="form-control">
                                </div>
                            </div>

                            <div ng-show="!hideSplitShift[0]">
                                <div class="row">
                                    <div class="col-md-6">Start</div>
                                    <div class="col-md-6">End</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input ng-model="day[$index].startTime[1]" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="day[$index].endTime[1]" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div ng-show="hideSplitShift[$index]" class="col-md-12">
                                    <div class="btn-group">
                                        <div ng-click="toggleShift($index)" class="btn btn-md btn-primary">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </div>

                                        <div class="btn btn-md btn-success">
                                            <span ng-click="updateSchedule()" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="!hideSplitShift[$index]" class="col-md-12">
                                    <div class="btn-group">
                                        <div ng-click="toggleShift($index)" class="btn btn-md btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                        </div>

                                        <div class="btn btn-md btn-success">
                                            <span ng-click="updateSchedule()" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="true">
                            <div class="row">
                                {[ day.startTime[0] ]} — {[ day.endTime[0] ]} <br>
                                {[ day.startTime[1] ]} — {[ day.endTime[1] ]}
                            </div>

                            <div class="row">
                                <div class="btn-group">
                                    <div class="btn btn-primary">Edit</div>
                                    <div class="btn btn-danger">Day Off</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>